

header{
    height: 100px;
    
}


.container{
    height: 100%;
}

.list-header{
  
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}